# ERROR 404 PAGE
ErrorDocument 404 /404.html

# RewriteEngine On
# RewriteCond %{SERVER_PORT} 80
# RewriteCond %{HTTP_HOST} ^(www\.)?renusricrackers\.com
# RewriteRule ^(.*)$ https://www.renusricrackers.com/$1 [R,L]

# Extra Security Headers
<IfModule mod_headers.c>
Header set X-XSS-Protection "1; mode=block"
Header always append X-Frame-Options SAMEORIGIN
Header set X-Content-Type-Options nosniff
</IfModule>